header,
footer,
nav,
main,
section,
article,
aside{
  display: block;
}


header, footer, div, nav, ul, li{
  box-sizing: border-box;
}
#inner_header,footer, #container{
  box-shadow: 0px 7px 18px rgb(0, 0, 0);
}
/* header styling */
header{
  width: 100%;
  position: absolute;
  z-index: 1000;
}

#inner_header{
  width: 960px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  color: #fff;
  height: 100px; 
  position: relative;
  z-index: 100;
}

#inner_header span{
  display: block;
  margin-left: 75px;
}

/* logo positioning */

.logo{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  height: 80px;
  width: 200px;
}

/* main section */

#container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  min-height: 1000px;
  background-color: #300;
  background: -webkit-linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  background: -moz-linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  background: -ms-linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  background: -o-linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  background: linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  overflow: hidden;
}

#inner{
  width: 100%;
  max-width: 960px;
  margin-top: 150px;
  color: #fff;
}

/* CSS foro book now button */

button{
  position: absolute;
  right: 220px;
  top: 10px;
  color: #fff;
  background:#900;
  padding: 4px 6px;
  border: 2px solid #900;
  font-size: 1em;
  border-radius:4px; 
}

#social_media{
  position: absolute;
  top: 0;
  right:0;
  margin-top: 10px;
  margin-right: 25px;  
}

/* CSS for Phone no. */

#phone img{
  width: 20px;
  height: 20px;
  float:left;
  position: absolute;
  top: 14px;
  left: 434px;
}

#phone span{
  position: absolute;
  top: 14px;
  left: 390px;
}

nav#main ul{
  padding: 0;
  margin: 0;
  position: absolute;
  right: 2px;
  top: 73px;
}

nav#main ul li{
  list-style-type: none;
  display: inline-block;
  padding-right: 25px;
  font-size: 16px;
  font-family: 'Roboto Slab','Times New Roman', serif;
  font-weight: 700;
  position: relative;
}
nav#main ul li a{
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 0 6px;
}

nav#main ul li a:visited,
nav#main ul li a:link{
  color: #fff; 
}

nav#main ul li a:hover,
nav#main ul li a:active,
nav#main ul li.current a{
  color: #fff;
  background: rgb(153,0,0);
  border-top: 2px solid #300;
  border-bottom: 2px solid #300;
  border-radius: 4px;
}

/* for responsive images */
img{
  max-width: 100%;
}
span.underline{
  border-left: 5px solid #ff3;
  padding: 2px 5px 2px 10px;
  font-family: 'Cookie', cursive;
  font-size: 2em;
}
/* hemburger menu */
#toggle_menu{
  display: none;
}

#pic{
  display: table-cell;
  width: 100%;
}

#pic img:first-child{
  padding-left: 27px;
}

#pic img{
  padding-right: 27px;
}

footer{
  width: 100%;
  display: block;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100px;
  background: #300;
  overflow: hidden;
  text-align: center;
}

.footer_row {
  background: #000;
  width: 100%;
  display: inline-block;
  }

.footer_row div {
  text-align: left;
  padding: 5px;
  margin: 5px;
  width: 100%;
  max-width: 230px;
  background: #000;
  color: #fff;
}

.footer_row div h1{
  margin-top: 0;
  font-family: 'Raleway','arial', sans-serif;
  font-weight: 700;
}

#contact_us h2{
  margin-bottom: 0;
  font-size: 1.2em;
}

#contact_us p{
  margin-top: 0;
  margin-bottom: 0;
}

footer > p{
  background: #300;
  color: #fff;
  font-family: 'Raleway','Arial', sans-serif;
  font-weight: 400;
}
#about_us, #services, #quick_links, #contact_us{
  float: left;
  width: 25%;
}
#services ul{
  margin: 0;
  padding: 0;
}

#services ul li {
  list-style-type: none;
  text-decoration: none;
}

#quick_links ul{
  margin: 0;
  padding: 0;
}

#quick_links ul li {
  list-style-type: none;
}

#quick_links ul li a{
  text-decoration: none;
  color: #fff;
}

#quick_links ul li a:hover,
#quick_links ul li a:active{
  text-decoration: underline;
}