/* below the width 960px the navigational elements go down to the header */


header nav#main ul{
  position: absolute;
  left: 0px;
  top: 90px;
  background: rgba(0,0,0,0.9);
  padding-left: 5px;
}

header nav#main ul li a{
  padding-top: 5px;
  padding-bottom: 5px;
}

button{
  position: absolute;
  right: 360px;
  top: 10px;
}

header #social_media{
  position: absolute;
  top: 0px;
  right:180px;
}

header #phone img{
  position: absolute;
  top: 14px;
  left: 330px;
}

header #phone span{
  position: absolute;
  top: 14px;
  left: 280px;
}

/* about.html page */
#about_content img{
  margin-top: 10px;
  padding-left: 10px;
}
  


/* photo.html page */
.gallery_pic:nth-child(even){
  margin-left: 300px;
}

/* Services.html page */
#servies_info{
  margin-left: 60px;
}

/*contact.html page */
div.two_col{
  margin-left: 15px;
  column-count: 2;
}

div#contact_info img{
  margin-top: 30px;
  margin-left: 15px;
  width: 300px;
  height: auto;
}
